body{
    margin: 0px;
}

.app-container{
    margin: 0 auto;
 
}

a{
    text-decoration: none;
    color: white;
}

li{
    list-style-type: none;
}
p{
    color: white;
}

html{
    background: #0B1B32;
}

